div.user.table-bold {
    font-weight: bold;
}
div label.text-blue {
    color: blue;
    background: aqua;
}
div input.user {
    background: green;
    color: red;
    font-size: 20px;
}
div.email.bg-black {
    background: black;
    color: red;
}
div label.text-orange {
    color: orange;
}
div input.email {
    background: yellow;
    color: red;
}
div#form-block.bg-chartreuse {
    font-size: 35px;
    background: chartreuse;
}
div label.number {
    background: midnightblue;
    color: gold;
}
div input.number {
    background: lightgrey;
    color: maroon;
}
div#ideveloper.bg-red {
    background: red;
    font-weight: bold;
}
div label.radio.text-grey {
    color: grey;
}
div input.radio {
    background: dodgerblue;
}
div#women.bg-magenta {
    background: magenta;
    font-weight: bold;
}
div label.gender.text-orange {
    color: green;
}
div input.radi {
    background-color: red;
}
div.root.bg-yellow {
    background: yellow;
    font-size: 25px;
}
div label.happy.text-blue {
    color: blue;
    font-weight: bolder;
}
div input.date {
    color: red;
    background: green;
}
div.img.color-purple {
    color: purple;
    font-weight: bold;
}
div label.text-bold {
    font-weight: bold;
    background: gold;
}
div input.color {
    font-size: 30px;
    background: red;
}
div#special.text-green {
    color: green;
    background: darkorange;
}
div label.text-bold {
    font-weight: bold;
}
div label h1.color-blue {
    color: blue;
}
div textarea.hobby {
    color: limegreen;
    background: black;
}
div#hata.select.bg-coral {
    background: coral;
}
div label.text-bold.color {
    font-weight: bold;
    color: purple;
    background: coral;
    font-size: 27px;
}
div select.home {
    color: red;
    background: black;
    font-weight: bolder;
}
div select option.special + option {
    color: lime;
}
div select option.special ~ option {
    color: yellow;
}
div#knopka.bg-darkred {
    background: darkred;
    color: azure;
}
div label.text-color {
    font-weight: bolder;
    color: yellow;
}
div button.submit {
    background: aqua;
    color: black;
    font-size: 32px;
}
div button b.text {
    color: gold;
    font-stretch: ultra-condensed;
}
div#spetion.text-bold {
    font-weight: bold;
}
div label.text-grey {
    color: grey;
    background: darkgreen;
}
div button.bg-gold {
    background: gold;
}
div button p.color {
    color: blue;
    font-weight: bolder;
}
div#clean.one {
    background: fuchsia;
    font-size: 17px;
}
div label.text-clone {
    color: black;
    font-weight: bold;
}
div button.submi.bg-red {
    background: red;
    font-weight: bold;
    color: black;
    font-size: 15px;
}